body {
  color: $font-color;
  font-size: 16px;
}

h1, h2, h3, h4{
}

select,
input,
textarea {
  color: $font-color;
  font-size: 16px;
}

ul, li, ol{
  margin: 0;
  padding: 0
}

.wrapper{
  max-width: $max-width;
  margin: 0 auto;
}

.wrapper-header,
.wrapper-content,
.wrapper-footer{
  @include clearfix;
}

.search-box{
  float: right;
  padding: 0 15px;
}

.wrapper-content{
  padding: 15px;
}
.news-container{
  padding: 30px 0;
}
.news-item {
  padding: 5px 0;
  margin: 10px 0;
  border-bottom: 1px solid #ccc;
}

.wrapper-footer li{
  display: inline-block;
  > a{
    padding: 20px 10px;
  }
}
